version: '3.3'


services:
  # Медиа сервер с DLNA
  plex:
    build:
      context: ./docker/plex
      dockerfile: Dockerfile
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Moscow
      - VERSION=docker
      # - PLEX_CLAIM= #optional
    volumes:
      - ./docker/plex/config:/config
      # - /path/to/tvseries:/tv
      - /path/to/media:/movies
    restart: unless-stopped

  # Торрент загрузчик
  transmission:
    build: 
      context: ./docker/transmission
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Moscow # временная зона 
      # - TRANSMISSION_WEB_HOME= #optional
      - USER=User #optional
      - PASS=1234 #optional
      # - WHITELIST= #optional
      # - PEERPORT= #optional
      # - HOST_WHITELIST= #optional  
    volumes:
      # - внешний каталог:внтренний каталог
      - ./docker/transmission/config:/config # каталог с файлом конфигурации
      - /path/to/downloads:/downloads/complete # каталог с загружеными медиа файлами
      - /tmp:/downloads/incomplete # каталог с еще не загруженными медиа файлами
      - /path/to/torrents:/watch # каталог с торрент файлами
    ports:
      # - внешний пор:внутренний порт
      - 9091:9091 # GUI интерфейс
      - 51413:51413 # системные порт TCP
      - 51413:51413/udp # системные порт UDP
    depends_on:
      - plex

  # торрент скрапер
  monitorrent:
    build:
      context: ./docker/monitorrent
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./docker/monitorrent/database/:/db # путь до базы данных
    environment:
      - MONITORRENT_DB_PATH=/db/monitorrent.db
    ports:
      - 6687:6687 # GUI интерфейс
    depends_on:
      - transmission
  
  # Сервер расшаривания папок
  samba:
    build: 
      context: ./docker/samba
      dockerfile: Dockerfile
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./docker/samba/data:/data
      - ./foo:/samba/foo
      - ./share:/samba/share
    environment:
      - TZ=Europe/Moscow
